html{
	background:#000;
	width:1280px;
	height:993px;
	overflow:hidden;
	margin:0 auto;
}

#top{
	background:#000;
	width:1280px;
	height:900px;
	padding:0 50px;
	text-align:center;
    position:   relative;
}
nav{
	text-align:center;
	height:80px;
}
a{
	text-decoration: none;
}
.nav_text{
	width:20%;
	color:#0f0;
	font-size:40px;
	font-family:Ubuntu;
	font-style:italic;
	padding:20px 10px 0 10px;
}
.nav_text:hover{
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}
.nav{
	display:inline-block;
}
.nav li{
	margin: auto 0;
}


#contents{
	width:1280px;
	height:893px;
	text-align:center;
}

#contents .main{
	width:764px;
	height:446.5px;
	float:left;
	padding-top:275px;
}
#contents .sub{
	width:296px;
	height:259px;
	padding-top:350.5px;
	margin:10px;	
	clear:both;
}



#soft{
	height:900px;
	width:1280px;
	margin: 0 auto;
	display: flex;
    justify-content: center;
}
#soft li{
	width:200px;
	height:auto;
	float:left;
	padding-top:395px;
}
#soft li img{
	width:100%;
	border-radius:25px;
}
#soft li a:hover img{
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}
#soft li:nth-child(2n){
	padding-top:645px;
}



#contact{
	display: flex;
    justify-content: center;
    padding-top: 400px;
}
#contact li{
    text-decoration: none;
    height:200px;
    padding:0 10%;
}
#contact li img{
    text-decoration: none;
    height:80%;
    width:auto;
}

#top small{
	width:1280px;
	height:20px;
	font-size:20px;
	color:#0f0;
    bottom:0;
    margin:0 auto;
}

/*
108
316
764
width	1280
984
296
1060
216
contents	430	259
			650	821

height		993px
#top		993px

header		50px

contents	923px

footer		20px



*/
